

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.forum_title {
    background-color: #88D498;
    color: white;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.tt-badge.tt-color01 {
    background-color: #88D498;
}

.tt-topic-list {
    margin-bottom: 10px;
}



.tt-col-topic {
    color: #88d498;
}

.tt-col-category {
    color: #88d498;
}

.tt-topic-list .tt-list-header .tt-col-value {
    width: 8.33333%;
    color: #88d498;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.pagination a.active {
    background-color: #88d498;
    color: white;
    border: 1px solid #88d498;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.button {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.tt-inner-header {
    width: 100%;
    padding: 10px;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}

a:focus,
.button:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

.tt-list-header{
    border: 1px solid #ddd;;
}

.custom-styling{
    width: 130px;
    background-color:lightblue;
    color: white;
    border: none;
}
