.quizClass h1 {
    text-align: center;
    color: black;
}

.quizClass p{
    color: white;
}
.nextPrevBtn 
{
    
    width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: #fff;
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.nextPrevBtn a 
{
    text-decoration: none;
    color:black;
    line-height: 25px;
}
#quizContainer 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: #1F9671;
    border-radius:3px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgb(209, 208, 208);
}
.quizClass ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
.quizClass ul li
{
    background: #6ad49f;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}


a:focus,
.button:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #88d498;
    color: white;
    border: 1px solid #88d498;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.tt-inner-header {
    width: 100%;
    padding: 10px;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}


.button {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}


.category-badge {
    background-color: #88D498;
    color: white;
    padding: 3px;
}


.form-inline{
   margin-left: 100px; 
}

.searchbar-style{
    margin-left: 10px;
}

.dropdown .dropdown-toggle::after { 
    content: none; 
} 

.custom-styling{
    width: 130px;
    background-color:lightblue;
    color: white;
    border: none;
}

.nav{
    display: inline-flex;
    float: right !important;
}

.quizStyle body {
    background-color:#1F9671;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
}

.quizStyle p,h1, h2, a, span, label {
    color: black;
}

#score-list {
    font-size: 1.2rem;
    color: black;    
}

.quizStyle ol {
    list-style: none;
    counter-reset: li;
}

.quizStyle li {
    counter-increment: li;

}

.quizStyle li::before {
    content: "." counter(li);
    color: black;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
}

.quizStyle hr {
    height: 2px;
    background-color: black;
}

#scoresTitle {
    padding-left: 1rem;
}

.text-color{
    background-color: orange;
    color: white;
}

.login_white{
    color: white !important;
}

.p-3{
    background-color: #88D498;
    color: white;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.125);
}

.quiz-background{
    background-color: white;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.125);

}

.highscore-background{
    background-color: white;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.125);
  
}

.highscore-background2{
    background-color: white;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.125);
    align-items: center;
    padding-top: 0;
    height: auto;

}

.finish_text{
    color:  #88D498;
    text-decoration: underline;

}

.completed_icon{
    width: 40px;
    height: 40px;
}

.tt-inner-header{
    margin-top: 0;
    margin-bottom: 30px;
}

.score-background{

    color: white;
}

.highscore-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline #88D498;
    margin-bottom: 50px;
}

#scoresTitle{
    color: #88D498;
}

.trophy-icon{
    width: 40px;
    height: 40px;
}

.score-background li{
    border-bottom: 1px grey solid;
}

.result-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline #88D498;
    margin-bottom: 50px;
}

.word-center{
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3{
    display: flex;
    align-items: center;
    justify-content: center;

}