.info-top{
    padding: 10px;
    background-color:  #88d498;
    color: white;
}

.rating-description{
    width: 100%;
}

.colour-btn{
    background-color:  #88d498;
    color: white;
}

.checked {
    color: orange;
  }

.text-subtitles{
    font-size: 12px;
}

.stand-out-dl{
    background-color: #88d498;
    color: white !important;
    padding: 2px !important;
}

.stand-out-rp{
   
    padding: 2px !important;
}
.stand-out-rp:hover{
    background-color: red;
    color: white !important;
    padding: 2px !important;
}
