@media (max-width: 575px) {
    #tt-pageContent .container[class^="tt-custom-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

#tt-pageContent p {
    margin-bottom: 26px;
}

#tt-pageContent p:last-child {
    margin-bottom: 0;
}

#tt-pageContent .container.tt-custom-mobile-indent {
    padding-left: 22px;
    padding-right: 22px;
}

#tt-pageContent {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.checked {
    color: orange;
  }


.forum_title {
    background-color: #88D498;
    color: white;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1230px) {
    .container {
        max-width: 1200px;
    }
}

.tt-catSingle-title .tt-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tt-catSingle-title .tt-row .tt-col-left {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
}

.tt-catSingle-title .tt-row .tt-col-item {
    display: inline-block;
}

.tt-catSingle-title .tt-row .tt-search {
    width: 255px;
}

.tt-catSingle-title .tt-value {
    color: #182730;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.tt-catSingle-title .tt-title {
    color: #182730;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.tt-catSingle-title .tt-btn-icon .tt-icon svg {
    width: 20px;
    height: 18px;
}

.tt-catSingle-title .tt-innerwrapper:not(:first-child) {
    margin-top: 13px;
}

@media (min-width: 768px) {
    .tt-catSingle-title {
        margin-left: 30px;
        margin-right: 30px;
    }
    .tt-catSingle-title .tt-row .tt-col-right .tt-col-item {
        margin-left: 11px;
    }
}

@media (max-width: 767px) {
    .tt-catSingle-title {
        margin-left: 10px;
        margin-right: 10px;
    }
    .tt-catSingle-title .tt-search {
        width: auto !important;
    }
    .tt-catSingle-title .tt-search .search-wrapper {
        display: none;
    }
    .tt-catSingle-title .tt-search .tt-search-toggle {
        display: inline-block;
    }
    .tt-catSingle-title .tt-btn-icon {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#tt-header .tt-row>.col-auto {
    min-height: 69px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tt-topic-list .tt-list-badge {
    margin-top: -8px;
}

.tt-info-box .row-object-inline .tt-list-badge {
    display: none;
}

.tt-list-badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: -8px 0 0 -8px;
}

.tt-list-badge li {
    margin-left: 8px;
    margin-top: 8px;
}

.tt-list-badge.tt-size-lg {
    margin: -15px 0 0 -15px;
}

.tt-list-badge.tt-size-lg li {
    margin: 15px 0 0 15px;
}

.tt-list-badge.tt-size-lg .tt-badge {
    height: 39px;
    font-size: 16px;
    padding: 1px 14px 2px;
    letter-spacing: 0.01em;
}

.tt-badge.tt-color01 {
    background-color: #88D498;
    padding: 20px;
}

.panel-menu .mmpanel .mm-original-link .tt-badge {
    top: -1px;
}

.tt-badge {
    font-size: 30px;
    padding: 1px 7px 2px;
    color: #ffffff;
    line-height: 1;
    font-weight: 500;
    height: 25px;
    border: none;
    outline: none;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 3px;
    color: #ffffff;
}

.tt-badge:not([class^="tt-color"]) {
    color: #d7dadc;
    background-color: #d7dadc;
    color: #182730;
}

.tt-title-separator+.tt-topic-list {
    margin-top: 37px;
}

.tt-topic-list .tt-list-search .tt-title {
    color: #303344;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .tt-topic-list .tt-list-search {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .tt-topic-list .tt-list-search {
        padding: 0 20px;
    }
    .tt-topic-list .tt-list-search .tt-search {
        width: 244px;
    }
}

@media (min-width: 576px) {
    .tt-topic-list .tt-list-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .tt-topic-list .tt-list-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tt-topic-list .tt-list-search>*:not(:first-child) {
        margin-top: 10px;
    }
}

.tt-topic-list .tt-topic-alert {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    padding: 6px 6px 7px 123px;
    width: 100%;
}

.tt-topic-list .tt-topic-alert.tt-alert-default {
    background-color: #d1e4f9;
    border-left: 2px solid #2172cd;
}

.tt-topic-list .tt-topic-alert.tt-alert-default a {
    color: #182730;
    display: inline-block;
    position: relative;
}

.tt-topic-list .tt-topic-alert.tt-alert-default a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 1px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #182730;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
}

.tt-topic-list .tt-topic-alert.tt-alert-default a:hover:before {
    width: 100%;
}

@media (max-width: 1229px) {
    .tt-topic-list .tt-topic-alert {
        padding: 6px 6px 7px 103px;
    }
}

@media (max-width: 1024px) {
    .tt-topic-list .tt-topic-alert {
        padding-left: 23px;
    }
}

@media (max-width: 370px) {
    .tt-topic-list .tt-topic-alert {
        font-size: 14px;
        line-height: 20px;
    }
    .tt-topic-list .tt-topic-alert.tt-alert-default a:before {
        bottom: 3px;
    }
}

.tt-topic-list .tt-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #303344;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.tt-topic-list .tt-list-header .tt-col-topic {
    width: 50%;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
}

.tt-topic-list .tt-list-header .tt-col-category {
    width: 16.66667%;
}

@media (max-width: 991px) {
    .tt-topic-list .tt-list-header .tt-col-category {
        display: none;
    }
}

.tt-topic-list .tt-list-header .tt-col-value {
    width: 8.33333%;
    color: #88d498;
}

.tt-topic-list .tt-list-header .tt-col-value-large {
    width: 95px;
    min-width: 95px;
}

.tt-topic-list .tt-list-header>[class^="tt-col"] {
    padding: 20px 15px 22px;
}

@media (max-width: 991px) {
    .tt-topic-list .tt-list-header .tt-col-topic {
        width: 68.66666%;
    }
    .tt-topic-list .tt-list-header .tt-col-category {
        width: 23%;
    }
    .tt-topic-list .tt-list-header .tt-col-value {
        text-align: right;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-list-header .tt-col-category,
    .tt-topic-list .tt-list-header .tt-col-value {
        display: none;
    }
}

.tt-topic-list .tt-list-header.tt-border-bottom {
    border-bottom: 2px solid #e2e7ea;
    margin-bottom: 30px;
}

.tt-topic-list .tt-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    min-height: 101px;
    padding: 20px 15px;
}

@media (max-width: 767px) {
    .tt-topic-list .tt-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.tt-topic-list .tt-item.tt-itemselect {
    background-color: #f9efe3;
    border-bottom: 1px solid #e2e7ea;
}

.tt-topic-list .tt-item:nth-child(even):not(.tt-itemselect):not(.tt-item-popup) {
    background-color: #f2f4f6;
}

.tt-topic-list .tt-item:nth-child(odd):not(.tt-itemselect):not(.tt-item-popup) {
    background-color: #ffffff;
}

.tt-topic-list .tt-item .tt-col-avatar .tt-icon {
    width: 40px;
    height: 40px;
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item .tt-col-avatar {
        width: 8.33333%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item .tt-col-avatar {
        width: 10.33333%;
    }
}

@media (max-width: 767px) {
    .tt-topic-list .tt-item .tt-col-avatar {
        width: 12.33333%;
        min-width: 50px;
    }
}

@media (max-width: 575px) {
    .tt-topic-list .tt-item .tt-col-avatar .tt-icon {
        width: 30px;
        height: 30px;
    }
}

.tt-topic-list .tt-item .tt-col-description {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    padding-bottom: 2px;
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item .tt-col-description {
        width: 41.66667%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item .tt-col-description {
        width: 58.33333%;
    }
}

@media (max-width: 767px) {
    .tt-topic-list .tt-item .tt-col-description {
        width: 76.33333%;
    }
}

.tt-topic-list {
    border: 0.5px solid #D3D3D3;
}

.tt-topic-list .tt-item .tt-col-description .tt-title {
    color: #303344;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 0;
    letter-spacing: 0.01em;
}

.tt-topic-list .tt-item .tt-col-description .tt-title a {
    color: #303344;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

.tt-topic-list .tt-item .tt-col-description .tt-title a:hover {
    color: #2172cd;
}

.tt-topic-list .tt-item .tt-col-description .tt-title .tt-icon {
    width: 18px;
    height: 18px;
    fill: #666f74;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

@media (max-width: 370px) {
    .tt-topic-list .tt-item .tt-col-description .tt-title {
        font-size: 14px;
        line-height: 22px;
    }
    .tt-topic-list .tt-item .tt-col-description .tt-title .tt-icon {
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }
}

.tt-topic-list .tt-item .tt-col-description>*:last-child {
    padding-bottom: 0;
}

.tt-topic-list .tt-item .tt-col-description>.row>[class^="col"]:first-child {
    padding-right: 15px;
}

.tt-topic-list .tt-item .tt-col-description>.row .ml-auto {
    text-align: right;
}

.tt-topic-list .tt-item .tt-col-description .tt-content {
    color: #666f74;
    font-size: 16px;
    line-height: 26px;
    margin-top: 6px;
}

.tt-topic-list .tt-item .tt-col-description .tt-value {
    white-space: nowrap;
}

@media (max-width: 370px) {
    .tt-topic-list .tt-item .tt-col-description .tt-value {
        font-size: 14px;
    }
}

.tt-topic-list .tt-item .tt-col-description>*:nth-child(1) {
    margin-top: 0;
}

.tt-topic-list .tt-item .tt-col-description>*:not(:first-child) {
    margin-top: 6px;
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item .tt-desktop-hide {
        display: none;
    }
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item .tt-col-category:not(.tt-col-value-large) {
        width: 16.66667%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item .tt-col-category:not(.tt-col-value-large) {
        width: 23%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item .tt-col-category {
        display: none;
    }
}

.tt-topic-list .tt-item .tt-btn-icon .tt-icon svg {
    width: 22px;
    height: 18px;
}

.tt-topic-list .tt-item .tt-col-value {
    width: 8.33333%;
}

.tt-topic-list .tt-item .tt-col-value-large {
    width: 95px;
    min-width: 95px;
}

@media (min-width: 1025px) {
    .tt-topic-list .tt-item>[class^="tt-col"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1024px) {
    .tt-topic-list .tt-item>[class^="tt-col"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.tt-topic-list .tt-item.tt-item-popup {
    background-color: #1cbbb4;
    color: #ffffff;
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-message {
        width: 61.33334%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-message {
        width: 53.66667%;
    }
}

.tt-topic-list .tt-item.tt-item-popup .tt-col-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
}

@media (min-width: 992px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn {
        width: 33.33332%;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn {
        width: 40.99999%;
    }
}

.tt-topic-list .tt-item.tt-item-popup .tt-col-btn>[class^="btn"]:not(.btn-icon) {
    margin-left: 15px;
}

.tt-topic-list .tt-item.tt-item-popup .tt-col-btn .btn-icon {
    margin-left: 5px;
}

.tt-topic-list .tt-item.tt-item-popup .btn-icon {
    background: no-repeat;
    border: none;
    outline: none;
    padding: 15px 0px 15px 10px;
    margin: 0;
}

.tt-topic-list .tt-item.tt-item-popup .btn-icon .tt-icon {
    width: 13px;
    height: 18px;
    fill: #ffffff;
    -webkit-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
}

.tt-topic-list .tt-item.tt-item-popup .btn-icon:hover .tt-icon {
    fill: #333333;
}

@media (max-width: 767px) {
    .tt-topic-list .tt-item.tt-item-popup {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tt-topic-list .tt-item.tt-item-popup .tt-col-message {
        width: 81.99998%;
        padding-right: 24px;
    }
}

@media (max-width: 767px) and (max-width: 370px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-message {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 767px) {
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn {
        display: block;
        text-align: left;
        width: 81.99998%;
        margin-left: 12.33333%;
        margin-top: 13px;
    }
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn .btn-icon {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -28px;
        padding-left: 22px;
        padding-right: 22px;
    }
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn [class^="btn"] {
        float: left;
    }
    .tt-topic-list .tt-item.tt-item-popup .tt-col-btn [class^="btn"]:first-child {
        margin-left: 0;
    }
}

.tt-topic-list .tt-color-select {
    color: #182730;
    font-weight: 500;
}

.tt-topic-list .tt-list-badge {
    margin-top: -8px;
}

@media (min-width: 992px) {
    .tt-topic-list .show-mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .tt-topic-list .hide-desktope {
        display: none;
    }
}

@media (max-width: 991px) {
    .tt-topic-list .hide-mobile {
        display: none;
    }
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a:focus,
.button:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #88d498;
    color: white;
    border: 1px solid #88d498;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.tt-inner-header {
    width: 100%;
    padding: 10px;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}


.button {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}