.quizClass h1 {
    text-align: center;
    color: black;
}

.quizClass p{
    color: white;
}
.nextPrevBtn 
{
    
    width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: #fff;
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.nextPrevBtn a 
{
    text-decoration: none;
    color:black;
    line-height: 25px;
}
#quizContainer 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: #1F9671;
    border-radius:3px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgb(209, 208, 208);
}
.quizClass ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
.quizClass ul li
{
    background: #6ad49f;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}